[submodule "zsh/spaceship-prompt"]
	path = zsh/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/spaceship-vi-mode"]
	path = zsh/plugins/spaceship-vi-mode
	url = https://github.com/spaceship-prompt/spaceship-vi-mode.git
